/* Hide the sidebar header */
#sidebar-header {
    display: none !important;
}

/* Normal horizontal alignment */
#main-window #toolbar-menubar {
  height: 20px !important;
  overflow: hidden;
  transition: height .3s .3s !important;
}
 
/* Sidebery activated, therefore hide the toolbar */
#main-window[titlepreface*="S"] #toolbar-menubar {
  height: 0 !important;
  transition: height .3s .3s !important;
}

/* Collapse the browser-tab */
#main-window[titlepreface*="S"] #tabbrowser-tabs {
    visibility: collapse !important;
}

/* */
#main-window[titlepreface*="S"] #TabsToolbar.browser-toolbar {
   display: inline-block !important;
    position: absolute !important;
    top: 15px !important;
    left: 15px !important;
     height: 45px !important;
}

/* */
#main-window[titlepreface*="S"] #nav-bar-customization-target {
 margin-left: 100px;
}

/* */
#main-window[titlepreface*="S"] #urlbar-container {
 margin-top: 4px;
}